<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>header</title>
</head>
<body>
    <nav>
        <ul style="list-style-type:none">
            <li>
                <a href="/">Home</a>
                <a href="/about/">About Us</a>
                <a href="/services/">Services</a>
                <a href="{% url 'list_book' %}">Book data</a>
            </li>

        </ul>
    </nav>

</body>
</html>